.pl {
    width: 6em;
    height: 6em;
  }
  
  .pl__ring {
    animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
    stroke: #f42f25;
  }
  
  .pl__ring--b {
    animation-name: ringB;
    stroke: #f49725;
  }
  
  .pl__ring--c {
    animation-name: ringC;
    stroke: #255ff4;
  }
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #f42582;
  }
  
  /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }


  .card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(233, 233, 233, 0.2);
    overflow: hidden;
  }
  
  .card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #456ff7 0%, #020791 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #3c65ed 0%, #03088d 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translatex(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .heading {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card:hover .content {
    transform: translateY(0);
  }
  
  .card:hover .front-content {
    transform: translateX(20%);
  }
  
  .card:hover .front-content p {
    opacity: 0;
  }
  
  .visa-card {
    margin: 1.2em 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 300px;
    height: 180px;
    background-image: radial-gradient(
      circle 897px at 9% 80.3%,
      rgba(55, 60, 245, 1) 0%,
      rgba(234, 161, 15, 0.9) 100.2%
    );
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    gap: 15px;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
  }
  .svgLogo {
    height: 40px;
    width: auto;
  }
  .inputstyle::placeholder {
    color: #ffffff;
  }
  .inputstyle {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    caret-color: red;
    font-size: 13px;
    height: 25px;
    letter-spacing: 1.5px;
  }
  .number-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  #cardNumber {
    width: 100%;
    height: 25px;
  }
  .name-date-cvv-container {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 10px;
  }
  .name-wrapper {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .expiry-wrapper,
  .cvv-wrapper {
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .cvv-wrapper {
    width: 10%;
  }
  #expiry,
  #cvv {
    width: 100%;
  }
  .input-label {
    font-size: 8px;
    letter-spacing: 1.5px;
    color: #e2e2e2;
    width: 100%;
  }
  


  .flex__1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .flex__2 {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
  }
  
  .card {
    height: 50mm;
    width: 84mm;
    position: relative;
    perspective: 800px;
  }
  
  .card__side {
    width: 100%;
    height: 100%;
    border-radius: 3.18mm;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.7s ease-out;
    cursor: pointer;
    padding: 10px;
  }
  
  .card__side__photo {
    width: 1.4cm;
    height: 1.4cm;
    position: absolute;
    left: 12px;
    bottom: 15px;
    background: grey;
    border-radius: 8%;
  }
  
  .card__side_front {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #242424 100%);
    transform: rotateY(0deg);
  }
  
  .card__side_back {
    background: linear-gradient(-90deg, rgb(0, 0, 0) 0%, #242424 100%);
    transform: rotateY(-180deg);
    color: #eeeeee;
  }
  
  .card__side__name-bank {
    font-family: Inter, sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 22px;
    margin-left: 8px;
    color: white;
  }
  
  .card__side__name-bank::after {
    content: "Universal Bank";
    position: absolute;
    font-size: 6px;
    top: 105%;
    left: 21%;
    color: #635c77;
  }
  
  .card__side__name-bank::before {
    content: "₴";
    position: absolute;
    top: 0;
    right: 0;
    color: #635c77;
  }
  
  .card__side__chip {
    width: 1.3cm;
    height: 1cm;
    margin-left: 22px;
    margin-top: -35px;
    background: rgb(226, 175, 35);
    border-radius: 8px;
  }
  
  .card__side__chip:after {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    top: 80px;
    right: 15px;
    transform: scale(1.3);
  }
  
  .card__side__name-person {
    text-transform: uppercase;
    font-family: Roboto Mono, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
    display: block;
    color: white;
  }
  
  .card__side__name-person::before {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    aspect-ratio: 1 / 1;
    background: red;
    bottom: -10px;
    right: 0px;
    border-radius: 50%;
  }
  
  .card__side__name-person::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    aspect-ratio: 1 / 1;
    background: orange;
    bottom: -10px;
    right: 23px;
    border-radius: 50%;
  }
  
  .card__side__black {
    background: black;
    width: 100%;
    height: 50px;
    border-radius: 3.18mm 3.18mm 0 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .card__side__number {
    font-size: 18px;
    font-family: Roboto Mono, sans-serif;
    color: #eeeeee;
    margin: 45px 0px 15px 10px;
  }
  
  .card__side__other-numbers {
    font-family: Roboto Mono, sans-serif;
    color: #eeeeee;
    display: block;
    margin-left: 10px;
    font-size: 12px;
    backface-visibility: hidden;
    position: relative;
  }
  
  .card__side__other-numbers::after {
    color: #635c77;
    position: absolute;
    font-size: 8px;
    left: 0;
    bottom: 60px;
  }
  
  .card__side__other-numbers_1::after {
    content: "СТРОК";
  }
  
  .card__side__other-numbers_2::after {
    content: "КОД";
  }
  
  .card__side__other-info {
    color: #635c77;
    font-size: 4px;
    text-align: center;
    font-family: Roboto Mono, sans-serif;
    position: absolute;
    bottom: 10px;
    left: 38px;
    backface-visibility: hidden;
  }
  
  .card__side__debit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8cm;
    height: 1cm;
    border-radius: 1cm;
    background: #c0c0c0;
    position: absolute;
    right: 12px;
    bottom: 25px;
    font-family: Inter;
    color: #666666;
  }
  
  .card__side__debit::after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(166, 163, 163, 0.7);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: 0;
  }
  
  .card:hover .card__side_front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card__side_back {
    transform: rotateY(0deg);
  }



  .crd {
    --primary-clr: #1C204B;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);
    width: 200px;
    height: 170px;
    border-radius: 10px;
   }
   
   .crd {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
   }
   
   .crd:hover .img-section {
    transform: translateY(1em);
   }
   
   .crd-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 10px;
    background: var(--primary-clr);
   }
   
   .crd-time {
    font-size: 1.7em;
    font-weight: 500;
   }
   
   .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
   }
   
   .crd-header {
    display: flex;
    align-items: center;
    width: 100%;
   }
   
   .crd-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
   }
   
   .crd-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .crd svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
   }
   
   .crd .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .crd .recent {
    line-height: 0;
    font-size: 0.8em;
   }


   
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #08295c;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}